local_dev/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/

# Build artifacts
dist/
build/

# Tooling caches
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# Docs
site/
docs/_build/
